{% extends "base.html" %}
{% load static %}

{% block head_title %}video upload{% endblock %}



{% block content %}
  <div class="grid grid-cols-3 py-6 bg-blue-200">
      <div class="upload-console col-span-2">
          <div class="upload-file-body" id="upload-area">
              <h3 class="text-2xl capitalize font-semibold py-2">select video to upload</h3>
              <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                 <input type="file" name="file" id="file-upload">
                 <input type="submit" class="border py-2 px-6 text-md hover:bg-gray-600 hover:text-white" value="Upload Video" id="standard-upload">
              </form>
              <div class="upload-drop" id="drop-zone">
                  just drag and drop file
              </div>
            </div>
              <div class="video-info hidden" id="upload-info">
                  <h2 class="text-center texy-lg capitalize my-4">Video details</h2>
                  <form action="{%url 'video-data'%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <input type="hidden" id="video_id" name="videofile">
                    </div>
                    <div class="my-3">
                         <input type="text" name="title" class="border py-2 border-gray-400 w-full focus:outline-none focus:shadow-outline" placeholder="title">
                    </div>
                    <div class="my-2">
                        <textarea name="description" rows="8" cols="30" placeholder="Description" class="border border-gray-400 w-full focus:outline-none focus:shadow-outline"></textarea>
                    </div>
                    <div>
                        <select name="visibility" id="visibility" class="box-border border py-2 border-gray-400 w-full focus:outline-none">
                            <option value="True">Public</option>
                            <option value="False">Private</option>
                        </select>
                    </div>
                    <div>
                        <span class="text-md">select a thumbnail</span>
                        <input type="file" name="thumbnail" id="thumbnail" class="p-4">
                    </div>
                      <button type="submit" class="py-2 px-4 border bg-blue-500 text-white">Save</button>
                 </form>
              </div>

              <div class="bar">
                  <div class="progressbar" id="bar-fill">
                       <div class="bar-fill-text" id="bar-text"></div>
                  </div>
              </div>
          

      </div>
      <div class="upload-completed" id="upload-finish">
         
      </div>
  </div>

{%endblock%}

{% block extra_body %}
    <script src="{% static 'js/upload.js' %}"></script>
    <script src="{% static 'js/upload_script.js'%}"></script>
{% endblock %}