{% extends "base.html" %}
{% load static %}


{% block head_title %}video club{% endblock %}

    

    
    <!--main body begins--->
  
       {% block content %}
 
           <div class="container-lg bg-blue-200 py-6  mx-auto flex justify-center items-center h-56">
                <div class="p-6 text-center">
                    <h1 class="text-4xl font-bold font-serif capitalize py-4 ">Welcome to VideoClub</h1>
                    <p class="text-xl mb-2 font-medium italic antialiased tracking-wide font-mono">share and enjoy exciting videos with friends and peeps</p>
                    <button class="py-2 my-4 bg-blue-500 text-white hover:bg-blue-700 px-4 shadow-lg text-md font-bold rounded border">Get Started</button>
                </div>              
           </div>
           
           <div>
              <h1 class="font-semibold my-4 text-3xl text-gray-700">Recommended</h1>

            <div class="grid lg:grid-cols-4 gap-8">
                {%for video in videos %}
                <div class="card">
                    <a href="{{video.get_absolute_url }}">
                    <img src="{{video.videodetail.thumbnail.url}}" alt="thumbnail" class="w-full h-40">

                   <div class="flex justify-between mt-4">
                      <img src="{{video.channel.channel_icon.url}}" class="rounded-full h-10 w-10" alt="profile pic">
                        <div>
                          <h1 class="capitalize font-medium">{{video.videodetail.title}}</h1>
                          <div class="mt-2 text-sm text-gray-700">
                            <h2>{{video.channel.name}}</h2>
                            <h3>{{video.view_count.count }} views 3 day ago</h3>
                         </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                       </svg>
                   </div>
                </a> 
                </div>
                {%endfor%}

                

                

                
            </div>
        </div>

           {%endblock content %}


    {% block extra_body%}

    {% endblock %}
           
           
           
          

        

