
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Signup</title>
    {% load i18n %}
</head>
<body class="bg-gray-200  h-screen">
        <div class="bg-white mt-8 w-1/2 h-1/2 mx-auto p-8">
            <h2 class="text-2xl font-semibold text-center uppercase mb-2">{% trans "Sign Up" %}</h2>
          
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}             
                    <div class="my-4">
                    <label for="">{{form.username.label}} </label> 
                       <input type="text" class="w-full px-2 py-3 border rounded outline-none focus:shadow-outline" name="username" id="id_username" placeholder="Username...">
                   </div>
                   <div class="my-4">
                     <label for="">{{form.email.label}}</label>
                    <input type="email" class="w-full px-2 py-3 border rounded outline-none focus:shadow-outline" name="email" id="id_email" placeholder="Email address...">
                    </div>
                   <div class="my-4">
                     <label for="">{{form.password1.label}}</label>
                   <input type="password" class="w-full px-2 py-3 border rounded outline-none focus:shadow-outline" name="password1" id="id_password1" placeholder="Password...">
                   </div>
                   <div class="my-4">
                     <label for="">{{form.password2.label}}</label>
                    <input type="password" class="w-full px-2 py-3 border rounded outline-none focus:shadow-outline" name="password2" id="id_password2" placeholder=" Confirm Password...">
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                   <div class="my-3">
                       <button class="border bg-blue-500 rounded w-full py-2 text-2xl font-bold text-white" type="submit">{% trans "Sign Up" %} &raquo;</button>     
                   </div>
    
                </form>


                 <div class="my-3 text-center">
                    <p class="text-base">Already have an Account ? <a href="{{ login_url }}" class="text-blue-500">Login Now</a></p>
                 </div>
            </div>
</body>
</html>















